<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SwagLabs">

	<listeners>
		<listener class-name="com.swaglabs.utilities.Reporting" />
	</listeners>


	<test name="Swag Labs">
		
		<classes>
			<class name="com.swaglabs.testCases.TC_LogIn_001" />
			<class name="com.swaglabs.testCases.TC_AddItemsToCart_002" />
			

		</classes>

	</test>

</suite>